In [2]:
import pandas as pd

In [ ]:
df_count_data = pd.read_csv('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기 피해 발생 수 데이터/TCH_07_20200101_C_001.csv', names=['INNB', 'RGSTN_DT', 'DAMAGE_OCRN_CNT'])

In [ ]:
df_count_data

       INNB              RGSTN_DT  DAMAGE_OCRN_CNT
0    870728  20200101001142337821              612
1    870729  20200101002538347229              612
2    870730  20200101004235359311              612
3    870731  20200101004405362844              612
4    870732  20200101004456366987              612
..      ...                   ...              ...
607  873258  20200101092237037626              612
608  873267  20200101092243076936              612
609  873270  20200101092245089406              612
610  873272  20200101092246095980              612
611  873275  20200101092249105405              612

[612 rows x 3 columns]

In [ ]:
df_count_data['RGSTN_DT'].map(lambda x : f'{x[:4]}-{x[4:6]}-{x[6:8]}')

0      2020-01-01
1      2020-01-01
2      2020-01-01
3      2020-01-01
4      2020-01-01
          ...
607    2020-01-01
608    2020-01-01
609    2020-01-01
610    2020-01-01
611    2020-01-01
Name: RGSTN_DT, Length: 612, dtype: object

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기 피해 발생 수 데이터/TCH_07_20220430_C_001.csv')

In [ ]:
df

       1391796  20220401000548831856  680
0      1391797  20220401001725837107  680
1      1391798  20220401002411840296  680
2      1391799  20220401002453843127  680
3      1391800  20220401003220846815  680
4      1391801  20220401003919849697  680
...        ...                   ...  ...
18539  1410984  20220430224254011066  433
18540  1410985  20220430224307016961  433
18541  1410986  20220430224411024550  433
18542  1410987  20220430225730033684  433
18543  1410988  20220430233722039345  433

[18544 rows x 3 columns]

In [3]:
import os
import glob

In [ ]:
import os
file_join = os.path.join('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기 피해 발생 수 데이터', 'TCH_07_2*.csv')

In [ ]:
import glob
list_files = glob.glob(file_join)

In [ ]:
list_files[0]

'/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기 피해 발생 수 데이터/TCH_07_20210126_C_001.csv'

In [ ]:
df = pd.DataFrame(columns=['INNB', 'RGSTN_DT', 'DAMAGE_OCRN_CNT'])

for file in list_files:
  f = pd.read_csv(file, names=['INNB', 'RGSTN_DT', 'DAMAGE_OCRN_CNT'])
  df = pd.concat([df, f], ignore_index = True)

In [ ]:
df

           INNB    RGSTN_DT DAMAGE_OCRN_CNT
0       피해 발생 수  2021-01-26             800
1       피해 발생 수  2021-01-26             800
2       피해 발생 수  2021-01-26             800
3       피해 발생 수  2021-01-26             800
4       피해 발생 수  2021-01-26             800
...         ...         ...             ...
810518  피해 발생 수  2022-11-30             624
810519  피해 발생 수  2022-11-30             624
810520  피해 발생 수  2022-11-30             624
810521  피해 발생 수  2022-11-30             624
810522  피해 발생 수  2022-11-30             624

[810523 rows x 3 columns]

In [ ]:
df['RGSTN_DT'] = df['RGSTN_DT'].map(lambda x : f'{x[:4]}-{x[4:6]}-{x[6:8]}')

In [ ]:
df['INNB'] = '피해 발생 수'

In [ ]:
df

           INNB    RGSTN_DT DAMAGE_OCRN_CNT
0       피해 발생 수  2021-01-26             800
1       피해 발생 수  2021-01-26             800
2       피해 발생 수  2021-01-26             800
3       피해 발생 수  2021-01-26             800
4       피해 발생 수  2021-01-26             800
...         ...         ...             ...
810518  피해 발생 수  2022-11-30             624
810519  피해 발생 수  2022-11-30             624
810520  피해 발생 수  2022-11-30             624
810521  피해 발생 수  2022-11-30             624
810522  피해 발생 수  2022-11-30             624

[810523 rows x 3 columns]

In [ ]:
df = df.drop_duplicates(['RGSTN_DT'], ignore_index=True)

In [ ]:
df

         INNB    RGSTN_DT DAMAGE_OCRN_CNT
0     피해 발생 수  2021-01-26             800
1     피해 발생 수  2021-01-28             728
2     피해 발생 수  2021-01-27             831
3     피해 발생 수  2021-01-30               0
4     피해 발생 수  2021-01-31             551
...       ...         ...             ...
1111  피해 발생 수  2022-11-26             530
1112  피해 발생 수  2022-11-27             502
1113  피해 발생 수  2022-11-28             717
1114  피해 발생 수  2022-11-29             731
1115  피해 발생 수  2022-11-30             624

[1116 rows x 3 columns]

In [ ]:
df['RGSTN_DT'] = pd.to_datetime(df['RGSTN_DT'])

<ipython-input-53-5f7c07ac7963>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RGSTN_DT'] = pd.to_datetime(df['RGSTN_DT'])

In [ ]:
df.sort_values('RGSTN_DT', ascending=True)

         INNB   RGSTN_DT DAMAGE_OCRN_CNT
395   피해 발생 수 2020-01-01             612
396   피해 발생 수 2020-01-02             756
393   피해 발생 수 2020-01-03             768
392   피해 발생 수 2020-01-04             517
394   피해 발생 수 2020-01-05             452
...       ...        ...             ...
1051  피해 발생 수 2023-01-26             998
1052  피해 발생 수 2023-01-27            1017
1053  피해 발생 수 2023-01-28             776
1054  피해 발생 수 2023-01-29             613
1055  피해 발생 수 2023-01-30             912

[1116 rows x 3 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기 피해 발생 수 데이터/TCH_07.csv', index=False, encoding='utf-8-sig')

In [ ]:
df_2 = pd.read_csv('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기에 이용된 데이터_1금융권/TCH_01_20200101_C_001.csv')
df_2

     786420  20200101122619445153  002   산업은행
0    786421  20200101113637451216    3   기업은행
1    786422  20200101140508454354    3   기업은행
2    786423  20200101204111465074    3   기업은행
3    786424  20200101205334467998    3   기업은행
4    786425  20200101213904471029    3   기업은행
..      ...                   ...  ...    ...
560  788674  20200101091114660429   90  카카오뱅크
561  788772  20200101091504431322   90  카카오뱅크
562  788774  20200101091505439404   90  카카오뱅크
563  788782  20200101092153472307   90  카카오뱅크
564  788783  20200101092153475888   90  카카오뱅크

[565 rows x 4 columns]

In [4]:
file_join_2 = os.path.join('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기에 이용된 데이터_1금융권', 'TCH_01_2*.csv')
list_files_2 = glob.glob(file_join_2)

In [5]:
df_2 = pd.DataFrame(columns=['INNB', 'RGSTN_DT', 'BNCD', 'BANK_NM'])

for file in list_files_2:
  f = pd.read_csv(file, names=['INNB', 'RGSTN_DT', 'BNCD', 'BANK_NM'])
  df_2 = pd.concat([df_2, f], ignore_index = True)

In [6]:
df_2['INNB'] = '사용된 은행'

In [7]:
def change_date(df_data):
  return pd.to_datetime(df_data.map(lambda x : f'{x[:4]}-{x[4:6]}-{x[6:8]}'))

In [8]:
df_2['RGSTN_DT'] = change_date(df_2['RGSTN_DT'])

In [10]:
df_2.drop('BNCD', axis=1, inplace=True)

In [12]:
df_2.to_csv('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기에 이용된 데이터_1금융권/TCH_01.csv', index=False, encoding='utf-8-sig')

In [ ]:
df_2_DT_Back = df_2.drop_duplicates(['RGSTN_DT'], ignore_index=True)

In [ ]:
df_2_DT_Back

        INNB   RGSTN_DT BANK_NM
0     사용된 은행 2022-11-01    산업은행
1     사용된 은행 2022-11-02    산업은행
2     사용된 은행 2022-11-03    산업은행
3     사용된 은행 2022-11-04    산업은행
4     사용된 은행 2022-11-05    산업은행
...      ...        ...     ...
1111  사용된 은행 2020-01-05    기업은행
1112  사용된 은행 2020-01-04    기업은행
1113  사용된 은행 2020-01-03    기업은행
1114  사용된 은행 2020-01-02    기업은행
1115  사용된 은행 2020-01-01    산업은행

[1116 rows x 3 columns]

In [ ]:
df_2_back = df_2.groupby('RGSTN_DT')['BANK_NM'].value_counts().to_frame()

In [ ]:

df_2_back

                          BANK_NM
RGSTN_DT   BANK_NM
2020-01-01 국민은행                78
           농협(단위농협)            74
           카카오뱅크               64
           하나은행(외환은행)          58
           우리은행                56
...                           ...
2023-01-30 저축은행                 4
           대구은행                 3
           수협은행(수산업협동조합)        3
           경남은행                 2
           산업은행                 2

[23654 rows x 1 columns]

In [ ]:
df_2_r = pd.DataFrame(
    data=[[data[0], data[1]] for data in df_2_back.index],
    columns=['RGSTN_DT','BANK_NM']
)

In [ ]:
df_2_r['COUNT'] = df_2_back.values

In [ ]:
df_2_r['INNB'] = '사용된 은행'

In [ ]:
df_2_r = df_2_r[['INNB', 'RGSTN_DT',	'BANK_NM'	,'COUNT']]

In [ ]:
df_2_r

         INNB   RGSTN_DT        BANK_NM  COUNT
0      사용된 은행 2020-01-01           국민은행     78
1      사용된 은행 2020-01-01       농협(단위농협)     74
2      사용된 은행 2020-01-01          카카오뱅크     64
3      사용된 은행 2020-01-01     하나은행(외환은행)     58
4      사용된 은행 2020-01-01           우리은행     56
...       ...        ...            ...    ...
23649  사용된 은행 2023-01-30           저축은행      4
23650  사용된 은행 2023-01-30           대구은행      3
23651  사용된 은행 2023-01-30  수협은행(수산업협동조합)      3
23652  사용된 은행 2023-01-30           경남은행      2
23653  사용된 은행 2023-01-30           산업은행      2

[23654 rows x 4 columns]

In [ ]:
df_2_r.to_csv('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기에 이용된 데이터_1금융권/TCH_01.csv', index=False, encoding='utf-8-sig')

In [ ]:
df_3 = pd.read_csv('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기에 이용된 데이터_증권/TCH_02_20200101_C_001.csv')
df_3

    12280  20200101232627900509  226  KB증권(현대증권)
0   12281  20200101234618903386  226  KB증권(현대증권)
1   12282  20200101094154907109  226  KB증권(현대증권)
2   12283  20200101004702910309  230      미래에셋대우
3   12284  20200101230842913650  240        삼성증권
4   12285  20200101042046916852  240        삼성증권
5   12286  20200101004955920028  261        교보증권
6   12287  20200101012459924026  267        대신증권
7   12288  20200101185221927093  278      신한금융투자
8   12289  20200101224434930327  278      신한금융투자
9   12290  20200101112357933509  291        신영증권
10  12316  20200101091558548077  243      한국투자증권
11  12317  20200101091558551472  243      한국투자증권
12  12319  20200101091557558978  267        대신증권

In [13]:
file_join_3 = os.path.join('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기에 이용된 데이터_증권', 'TCH_02_2*.csv')
list_files_3 = glob.glob(file_join_3)

In [14]:
df_3 = pd.DataFrame(columns=['INNB', 'RGSTN_DT', 'BNCD', 'BANK_NM'])

for file in list_files_3:
  f = pd.read_csv(file, names=['INNB', 'RGSTN_DT', 'BNCD', 'BANK_NM'])
  df_3 = pd.concat([df_3, f], ignore_index = True)

In [15]:
#df_3['RGSTN_DT'] = change_date(df_3['RGSTN_DT'])
df_3 = df_3.drop('BNCD', axis=1)

In [16]:
df_3

        INNB              RGSTN_DT BANK_NM
0      45229  20221101101151968100  미래에셋증권
1      45230  20221101170835970756  미래에셋증권
2      45231  20221101101151973408  미래에셋증권
3      45232  20221101122439976223  미래에셋증권
4      45233  20221101142603978905  미래에셋증권
...      ...                   ...     ...
39011  12289  20200101224434930327  신한금융투자
39012  12290  20200101112357933509    신영증권
39013  12316  20200101091558548077  한국투자증권
39014  12317  20200101091558551472  한국투자증권
39015  12319  20200101091557558978    대신증권

[39016 rows x 3 columns]

In [17]:
df_3['RGSTN_DT'] = change_date(df_3['RGSTN_DT'])
df_3

        INNB   RGSTN_DT BANK_NM
0      45229 2022-11-01  미래에셋증권
1      45230 2022-11-01  미래에셋증권
2      45231 2022-11-01  미래에셋증권
3      45232 2022-11-01  미래에셋증권
4      45233 2022-11-01  미래에셋증권
...      ...        ...     ...
39011  12289 2020-01-01  신한금융투자
39012  12290 2020-01-01    신영증권
39013  12316 2020-01-01  한국투자증권
39014  12317 2020-01-01  한국투자증권
39015  12319 2020-01-01    대신증권

[39016 rows x 3 columns]

In [18]:
df_3['INNB'] = '사용된 증권'

In [19]:
df_3

         INNB   RGSTN_DT BANK_NM
0      사용된 증권 2022-11-01  미래에셋증권
1      사용된 증권 2022-11-01  미래에셋증권
2      사용된 증권 2022-11-01  미래에셋증권
3      사용된 증권 2022-11-01  미래에셋증권
4      사용된 증권 2022-11-01  미래에셋증권
...       ...        ...     ...
39011  사용된 증권 2020-01-01  신한금융투자
39012  사용된 증권 2020-01-01    신영증권
39013  사용된 증권 2020-01-01  한국투자증권
39014  사용된 증권 2020-01-01  한국투자증권
39015  사용된 증권 2020-01-01    대신증권

[39016 rows x 3 columns]

In [20]:
df_3.to_csv('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기에 이용된 데이터_증권/TCH_02.csv', index=False, encoding='utf-8-sig')

In [ ]:
df_3_back = df_3.groupby('RGSTN_DT')['BANK_NM'].value_counts().to_frame()

In [ ]:
df_3_back

                         BANK_NM
RGSTN_DT   BANK_NM
2020-01-01 KB증권(현대증권)          3
           대신증권                2
           삼성증권                2
           신한금융투자              2
           한국투자증권              2
...                          ...
2023-01-30 KB증권(현대증권)          1
           유진투자증권              1
           하나증권(하나금융투자)        1
           하이투자증권              1
           한화투자증권              1

[9913 rows x 1 columns]

In [ ]:
df_3_r = pd.DataFrame(
    data=[[data[0], data[1]] for data in df_3_back.index],
    columns=['RGSTN_DT','BANK_NM']
)

In [ ]:
df_3_r

       RGSTN_DT       BANK_NM
0    2020-01-01    KB증권(현대증권)
1    2020-01-01          대신증권
2    2020-01-01          삼성증권
3    2020-01-01        신한금융투자
4    2020-01-01        한국투자증권
...         ...           ...
9908 2023-01-30    KB증권(현대증권)
9909 2023-01-30        유진투자증권
9910 2023-01-30  하나증권(하나금융투자)
9911 2023-01-30        하이투자증권
9912 2023-01-30        한화투자증권

[9913 rows x 2 columns]

In [ ]:
df_3_r['COUNT'] = df_3_back.values

In [ ]:
df_3_r['INNB'] = '사용된 증권'

In [ ]:
df_3_r = df_3_r[['INNB', 'RGSTN_DT',	'BANK_NM'	,'COUNT']]

In [ ]:
df_3_r

        INNB   RGSTN_DT       BANK_NM  COUNT
0     사용된 증권 2020-01-01    KB증권(현대증권)      3
1     사용된 증권 2020-01-01          대신증권      2
2     사용된 증권 2020-01-01          삼성증권      2
3     사용된 증권 2020-01-01        신한금융투자      2
4     사용된 증권 2020-01-01        한국투자증권      2
...      ...        ...           ...    ...
9908  사용된 증권 2023-01-30    KB증권(현대증권)      1
9909  사용된 증권 2023-01-30        유진투자증권      1
9910  사용된 증권 2023-01-30  하나증권(하나금융투자)      1
9911  사용된 증권 2023-01-30        하이투자증권      1
9912  사용된 증권 2023-01-30        한화투자증권      1

[9913 rows x 4 columns]

In [ ]:
df_3_r.to_csv('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기에 이용된 데이터_증권/TCH_02.csv', index=False, encoding='utf-8-sig')

In [ ]:
df_4 = pd.read_csv('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기에 이용된 물품 데이터/TCH_06_20200101_C_001.csv')
df_4

     870584  20200101001142726923   휴대폰/주변기기
0    870585  20200101002538733088   컴퓨터/주변기기
1    870586  20200101004235737016      도서/학습
2    870587  20200101004405739984     티켓/상품권
3    870588  20200101004456742922     티켓/상품권
4    870589  20200101004955745569   컴퓨터/주변기기
..      ...                   ...        ...
402  870987  20200101225941837063  뷰티/미용/화장품
403  870988  20200101230132839453   컴퓨터/주변기기
404  870989  20200101230826842780     티켓/상품권
405  870990  20200101231202845236   휴대폰/주변기기
406  870991  20200101232648847786   컴퓨터/주변기기

[407 rows x 3 columns]

In [21]:
file_join_4 = os.path.join('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기에 이용된 물품 데이터', 'TCH_06_2*.csv')
list_files_4 = glob.glob(file_join_4)

In [22]:
df_4 = pd.DataFrame(columns=['INNB', 'RGSTN_DT', 'GOODS_CTGRY_NM'])

for file in list_files_4:
  try:
    f = pd.read_csv(file, names=['INNB', 'RGSTN_DT', 'GOODS_CTGRY_NM'])
    df_4 = pd.concat([df_4, f], ignore_index = True)
  except:
    pass

In [23]:
df_4['RGSTN_DT'] = change_date(df_4['RGSTN_DT'])
df_4['INNB'] = '사용된 물품'

In [28]:
df_4 = df_4.sort_values('RGSTN_DT')

In [33]:
df_4 = df_4.reset_index(drop='index')

In [34]:
df_4

          INNB   RGSTN_DT GOODS_CTGRY_NM
0       사용된 물품 2020-01-01       휴대폰/주변기기
1       사용된 물품 2020-01-01          패션/의류
2       사용된 물품 2020-01-01    동물/생물/식물/용품
3       사용된 물품 2020-01-01      스포츠/레저/운동
4       사용된 물품 2020-01-01             기타
...        ...        ...            ...
810039  사용된 물품 2023-01-30     음악/영화/주변기기
810040  사용된 물품 2023-01-30             신발
810041  사용된 물품 2023-01-30      스포츠/레저/운동
810042  사용된 물품 2023-01-30             화폐
810043  사용된 물품 2023-01-30          패션/의류

[810044 rows x 3 columns]

In [35]:
df_4.to_csv('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기에 이용된 물품 데이터/TCH_06.csv', index=False, encoding='utf-8-sig')

In [ ]:
df_4_back = df_4.groupby('RGSTN_DT')['GOODS_CTGRY_NM'].value_counts().to_frame()

In [ ]:
df_4_back

                           GOODS_CTGRY_NM
RGSTN_DT   GOODS_CTGRY_NM
2020-01-01 휴대폰/주변기기                    65
           티켓/상품권                      44
           기타                          38
           패션/의류                       31
           게임 아이템                      23
...                                   ...
2023-01-30 자동차/바이크                      3
           시계                           2
           가구/인테리어                      1
           문구/사무/소모품                    1
           배송비                          1

[37212 rows x 1 columns]

In [ ]:
df_4_r = pd.DataFrame(
    data=[[data[0], data[1]] for data in df_4_back.index],
    columns=['RGSTN_DT','GOODS_CTGRY_NM']
)

In [ ]:
df_4_r['COUNT'] = df_4_back.values

In [ ]:
df_4_r['INNB'] = '사용된 물품'

In [ ]:
df_4_r = df_4_r[['INNB', 'RGSTN_DT'	,'GOODS_CTGRY_NM',	'COUNT']]

In [ ]:
df_4_r

         INNB   RGSTN_DT GOODS_CTGRY_NM  COUNT
0      사용된 물품 2020-01-01       휴대폰/주변기기     65
1      사용된 물품 2020-01-01         티켓/상품권     44
2      사용된 물품 2020-01-01             기타     38
3      사용된 물품 2020-01-01          패션/의류     31
4      사용된 물품 2020-01-01         게임 아이템     23
...       ...        ...            ...    ...
37207  사용된 물품 2023-01-30        자동차/바이크      3
37208  사용된 물품 2023-01-30             시계      2
37209  사용된 물품 2023-01-30        가구/인테리어      1
37210  사용된 물품 2023-01-30      문구/사무/소모품      1
37211  사용된 물품 2023-01-30            배송비      1

[37212 rows x 4 columns]

In [ ]:
df_4_r.to_csv('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기에 이용된 물품 데이터/TCH_06.csv', index=False, encoding='utf-8-sig')

In [38]:
df_1 = pd.read_csv('/content/drive/MyDrive/Project_2/Data/기타 데이터/금융사기 피해 발생 수 데이터/TCH_07.csv')
df_1 = df_1.sort_values('RGSTN_DT')

In [42]:
df_1

         INNB    RGSTN_DT  DAMAGE_OCRN_CNT
395   피해 발생 수  2020-01-01              612
396   피해 발생 수  2020-01-02              756
393   피해 발생 수  2020-01-03              768
392   피해 발생 수  2020-01-04              517
394   피해 발생 수  2020-01-05              452
...       ...         ...              ...
1051  피해 발생 수  2023-01-26              998
1052  피해 발생 수  2023-01-27             1017
1053  피해 발생 수  2023-01-28              776
1054  피해 발생 수  2023-01-29              613
1055  피해 발생 수  2023-01-30              912

[1116 rows x 3 columns]

In [48]:
df_1 = df_1.rename(columns={'DAMAGE_OCRN_CNT' : 'DAMAGE_OCRN'})

In [51]:
df_2 = df_2.rename(columns={'BANK_NM' : 'DAMAGE_OCRN'})

In [53]:
df_3 = df_3.rename(columns={'BANK_NM' : 'DAMAGE_OCRN'})

In [55]:
df_4 = df_4.rename(columns={'GOODS_CTGRY_NM' : 'DAMAGE_OCRN'})

In [68]:
df_1['RGSTN_DT'] = pd.to_datetime(df_1['RGSTN_DT'])

In [69]:
df5 = pd.concat([df_1,df_2,df_3,df_4 ], ignore_index = True)

In [72]:
df5

            INNB   RGSTN_DT DAMAGE_OCRN
0        피해 발생 수 2020-01-01         612
1        피해 발생 수 2020-01-02         756
2        피해 발생 수 2020-01-03         768
3        피해 발생 수 2020-01-04         517
4        피해 발생 수 2020-01-05         452
...          ...        ...         ...
1558575   사용된 물품 2023-01-30  음악/영화/주변기기
1558576   사용된 물품 2023-01-30          신발
1558577   사용된 물품 2023-01-30   스포츠/레저/운동
1558578   사용된 물품 2023-01-30          화폐
1558579   사용된 물품 2023-01-30       패션/의류

[1558580 rows x 3 columns]

In [71]:
df5.to_csv('/content/drive/MyDrive/Project_2/Data/기타 데이터/TCH_Gitur.csv', index=False, encoding='utf-8-sig')