In [40]:
import pandas as pd

In [41]:
import os
from glob import glob

In [42]:
def change_date(df_data):
  return pd.to_datetime(df_data.map(lambda x : f'{x[:4]}-{x[4:6]}-{x[6:8]}'))

In [ ]:
df_1 = pd.read_csv('/content/drive/MyDrive/Project_2/Data/피해자 모음/금융사기 피해자 지역 데이터/TCH_32_20220131_C_001.csv')

In [ ]:
df_1

           1     충청북도 청주시청원구  20220127175148572236
0          2    부산광역시    금정구  20220101000301585313
1          3  제주특별자치도   서귀포시  20220101000405608266
2          4    대구광역시     북구  20220101000659638745
3          5      경기도   남양주시  20220101000727646199
4          6    광주광역시     북구  20220101000857654778
...      ...      ...    ...                   ...
16511  16513      경기도    파주시  20220119124033229258
16512  16514      경기도   의정부시  20220117083027234766
16513  16515    서울특별시    동작구  20220115024321250147
16514  16516    서울특별시    송파구  20220113083749264365
16515  16517    부산광역시    사상구  20220103125823287456

[16516 rows x 4 columns]

In [43]:
file_join_1 = os.path.join('/content/drive/MyDrive/Project_2/Data/피해자 모음/금융사기 피해자 지역 데이터', 'TCH_32_2*.csv')
list_files_1 = glob(file_join_1)

In [44]:
columns_name = ['WDAR_CTPR_NM', 'LEGAL_SIGUNGU_NM', 'RGSTN_DT']
df_1 = pd.DataFrame(columns=columns_name)

for file in list_files_1:
  f = pd.read_csv(file, names=columns_name, index_col=0)
  df_1 = pd.concat([df_1, f], ignore_index = True)

In [45]:
df_1['RGSTN_DT'] = change_date(df_1['RGSTN_DT'])

In [46]:
df_1

       WDAR_CTPR_NM LEGAL_SIGUNGU_NM   RGSTN_DT
0             서울특별시              구로구 2022-12-26
1               경기도           용인시수지구 2022-12-29
2             인천광역시               서구 2022-12-01
3               경기도           용인시기흥구 2022-12-01
4             서울특별시              강남구 2022-12-01
...             ...              ...        ...
253218          경기도              파주시 2022-01-19
253219          경기도             의정부시 2022-01-17
253220        서울특별시              동작구 2022-01-15
253221        서울특별시              송파구 2022-01-13
253222        부산광역시              사상구 2022-01-03

[253223 rows x 3 columns]

In [47]:
df_1['IBBN'] = '피해자'

In [48]:
df_1

       WDAR_CTPR_NM LEGAL_SIGUNGU_NM   RGSTN_DT IBBN
0             서울특별시              구로구 2022-12-26  피해자
1               경기도           용인시수지구 2022-12-29  피해자
2             인천광역시               서구 2022-12-01  피해자
3               경기도           용인시기흥구 2022-12-01  피해자
4             서울특별시              강남구 2022-12-01  피해자
...             ...              ...        ...  ...
253218          경기도              파주시 2022-01-19  피해자
253219          경기도             의정부시 2022-01-17  피해자
253220        서울특별시              동작구 2022-01-15  피해자
253221        서울특별시              송파구 2022-01-13  피해자
253222        부산광역시              사상구 2022-01-03  피해자

[253223 rows x 4 columns]

In [51]:
df_s = pd.read_csv('/content/drive/MyDrive/Project_2/Data/용의자 모음/TCH_Suspect_Resion.csv')
df_s['IBBN'] = '용의자'

In [58]:
df_s['RGSTN_DT'] = pd.to_datetime(df_s['RGSTN_DT'])

In [59]:
df = pd.concat([df_1, df_s], ignore_index = True)

In [60]:
df

       WDAR_CTPR_NM LEGAL_SIGUNGU_NM   RGSTN_DT IBBN
0             서울특별시              구로구 2022-12-26  피해자
1               경기도           용인시수지구 2022-12-29  피해자
2             인천광역시               서구 2022-12-01  피해자
3               경기도           용인시기흥구 2022-12-01  피해자
4             서울특별시              강남구 2022-12-01  피해자
...             ...              ...        ...  ...
281228        광주광역시               북구 2023-01-31  용의자
281229        서울특별시              송파구 2023-01-31  용의자
281230        서울특별시             서대문구 2023-01-31  용의자
281231        대구광역시              달서구 2023-01-31  용의자
281232        서울특별시              송파구 2023-01-31  용의자

[281233 rows x 4 columns]

In [61]:
df.to_csv('/content/drive/MyDrive/Project_2/Data/TCH_Resion.csv', index=False, encoding='utf-8-sig')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Project_2/Data/피해자 모음/피해자의 성별 피해 금액 데이터/TCH_25_20210228_C_001.csv')

In [ ]:
df

       22036  남자     10000-100000  20210205234312352339
0      22037  남자     10000-100000  20210205234312359078
1      22038  남자    400000-500000  20210215134542362746
2      22039  남자  1000000-2000000  20210224171232366445
3      22040  남자    100000-200000  20210222222521369744
4      22041  남자    100000-200000  20210202092837379303
...      ...  ..              ...                   ...
16359  38396  남자    300000-400000  20210228232809244235
16360  38397  남자     10000-100000  20210228233633248164
16361  38398  남자    300000-400000  20210228234221251997
16362  38399  남자    100000-200000  20210228233622255974
16363  38400  여자    100000-200000  20210228235504259969

[16364 rows x 4 columns]

In [66]:
file_join_2 = os.path.join('/content/drive/MyDrive/Project_2/Data/피해자 모음/피해자의 성별 피해 금액 데이터', 'TCH_25_2*.csv')
list_files_2 = glob(file_join_2)

In [70]:
columns_name = ['TYPE', 'DAMAGE', 'RGSTN_DT']
df_2 = pd.DataFrame(columns=columns_name)

for file in list_files_2:
  f = pd.read_csv(file, names=columns_name, index_col=0)
  df_2 = pd.concat([df_2, f], ignore_index = True)

In [71]:
df_2['RGSTN_DT'] = change_date( df_2['RGSTN_DT'])

In [82]:
df_2['IBBN'] = '성별 돈'

In [73]:
df_2

       TYPE           DAMAGE   RGSTN_DT   IBBN
0        남자  2000000-3000000 2022-10-28  피해자 돈
1        남자     10000-100000 2022-10-27  피해자 돈
2        남자     10000-100000 2022-10-28  피해자 돈
3        여자     10000-100000 2022-10-21  피해자 돈
4        남자    100000-200000 2022-10-13  피해자 돈
...     ...              ...        ...    ...
367631   여자     10000-100000 2021-04-30  피해자 돈
367632   여자     10000-100000 2021-04-30  피해자 돈
367633   여자     10000-100000 2021-04-30  피해자 돈
367634   여자    200000-300000 2021-04-30  피해자 돈
367635   남자    500000-600000 2021-04-30  피해자 돈

[367636 rows x 4 columns]

In [ ]:
df_2.to_csv('/content/drive/MyDrive/Project_2/Data/피해자 모음/피해자의 성별 피해 금액 데이터/TCH_25.csv', index=False, encoding='utf-8-sig')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Project_2/Data/피해자 모음/피해자의 성별 피해 물품 데이터/TCH_24_20210228_C_001.csv')
df

       25245  남자    티켓/상품권  20210205234312998857
0      25246  남자    티켓/상품권  20210205234312005460
1      25247  남자        기타  20210215134542009874
2      25248  남자    티켓/상품권  20210224171232013887
3      25249  남자  컴퓨터/주변기기  20210222222521017844
4      25250  남자  컴퓨터/주변기기  20210202092837021807
...      ...  ..       ...                   ...
19183  44429  남자  포인트/마일리지  20210228232809113979
19184  44430  남자    아이디/계정  20210228233633118597
19185  44431  남자    게임 아이템  20210228234221123157
19186  44432  남자    게임 아이템  20210228233622127546
19187  44433  여자    게임 아이템  20210228235504140341

[19188 rows x 4 columns]

In [75]:
file_join_3 = os.path.join('/content/drive/MyDrive/Project_2/Data/피해자 모음/피해자의 성별 피해 물품 데이터', 'TCH_24_2*.csv')
list_files_3 = glob(file_join_3)

In [76]:
columns_name = ['TYPE', 'DAMAGE', 'RGSTN_DT']
df_3 = pd.DataFrame(columns=columns_name)

for file in list_files_3:
  f = pd.read_csv(file, names=columns_name, index_col=0)
  df_3 = pd.concat([df_3, f], ignore_index = True)

In [77]:
df_3['RGSTN_DT'] = change_date(df_3['RGSTN_DT'])

In [83]:
df_3['IBBN'] = '성별 물품'

In [80]:
df_3

       TYPE     DAMAGE   RGSTN_DT    IBBN
0        남자     티켓/상품권 2022-10-28  피해자 물품
1        남자         기타 2022-10-27  피해자 물품
2        남자    태블릿/노트북 2022-10-28  피해자 물품
3        여자     유아동/출산 2022-10-21  피해자 물품
4        남자  스포츠/레저/운동 2022-10-13  피해자 물품
...     ...        ...        ...     ...
466595   남자   포인트/마일리지 2021-02-28  피해자 물품
466596   남자     아이디/계정 2021-02-28  피해자 물품
466597   남자     게임 아이템 2021-02-28  피해자 물품
466598   남자     게임 아이템 2021-02-28  피해자 물품
466599   여자     게임 아이템 2021-02-28  피해자 물품

[466600 rows x 4 columns]

In [ ]:
df_3.to_csv('/content/drive/MyDrive/Project_2/Data/피해자 모음/피해자의 성별 피해 물품 데이터/TCH_24.csv', index=False, encoding='utf-8-sig')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Project_2/Data/피해자 모음/피해자의 연령대별 피해 금액 데이터/TCH_18_20210228_C_001.csv')
df

       20460  1970-1980     10000-100000  20210205234312406559
0      20461  1970-1980     10000-100000  20210205234312411818
1      20462  1980-1990    400000-500000  20210215134542415330
2      20463  1980-1990  1000000-2000000  20210224171232419533
3      20464  1980-1990    100000-200000  20210222222521427619
4      20465  1980-1990    100000-200000  20210202092837432109
...      ...        ...              ...                   ...
15416  35877  1990-2000     10000-100000  20210228231619220876
15417  35878  1990-2000     10000-100000  20210228231635224647
15418  35879  2000-2010     10000-100000  20210228233633228902
15419  35880  1990-2000    300000-400000  20210228234221236876
15420  35881  1970-1980    100000-200000  20210228235504240576

[15421 rows x 4 columns]

In [86]:
file_join_4 = os.path.join('/content/drive/MyDrive/Project_2/Data/피해자 모음/피해자의 연령대별 피해 금액 데이터', 'TCH_18_2*.csv')
list_files_4 = glob(file_join_4)

In [87]:
columns_name = ['TYPE', 'DAMAGE', 'RGSTN_DT']
df_4 = pd.DataFrame(columns=columns_name)

for file in list_files_4:
  f = pd.read_csv(file, names=columns_name, index_col=0)
  df_4 = pd.concat([df_4, f], ignore_index = True)

In [88]:
df_4['RGSTN_DT'] = change_date(df_4['RGSTN_DT'])

In [90]:
df_4['IBBN'] = '나이 돈'

In [ ]:
df_4.to_csv('/content/drive/MyDrive/Project_2/Data/피해자 모음/피해자의 연령대별 피해 금액 데이터/TCH_18.csv', index=False, encoding='utf-8-sig')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Project_2/Data/피해자 모음/피해자의 연령대별 피해 물품 데이터/TCH_17_20210228_C_001.csv')
df

       262515  1970-1980    티켓/상품권  20210205234312663113
0      262516  1970-1980    티켓/상품권  20210205234312668097
1      262517  1980-1990        기타  20210215134542672133
2      262518  1980-1990    티켓/상품권  20210224171232675497
3      262519  1980-1990  컴퓨터/주변기기  20210222222521679671
4      262520  1980-1990  컴퓨터/주변기기  20210202092837683829
...       ...        ...       ...                   ...
17906  280422  1990-2000        신발  20210228231619921646
17907  280423  1990-2000        신발  20210228231635926763
17908  280424  2000-2010    아이디/계정  20210228233633933511
17909  280425  1990-2000    게임 아이템  20210228234221938600
17910  280426  1970-1980    게임 아이템  20210228235504945233

[17911 rows x 4 columns]

In [92]:
file_join_5 = os.path.join('/content/drive/MyDrive/Project_2/Data/피해자 모음/피해자의 연령대별 피해 물품 데이터', 'TCH_17_2*.csv')
list_files_5 = glob(file_join_5)

In [93]:
columns_name = ['TYPE', 'DAMAGE', 'RGSTN_DT']
df_5 = pd.DataFrame(columns=columns_name)

for file in list_files_5:
  f = pd.read_csv(file, names=columns_name, index_col=0)
  df_5 = pd.concat([df_5, f], ignore_index = True)

In [94]:
df_5['RGSTN_DT'] = change_date(df_5['RGSTN_DT'])

In [95]:
df_5['IBBN'] = '나이 물품'

In [ ]:
df_5.to_csv('/content/drive/MyDrive/Project_2/Data/피해자 모음/피해자의 연령대별 피해 물품 데이터/TCH_17.csv', index=False, encoding='utf-8-sig')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Project_2/Data/피해자 모음/피해자의 연령대별 피해 사이트 데이터/TCH_23_20210131_C_001.csv')
df

           1  1990-2000        cafe.naver.com  20210117193916570696
0          2  1970-1980        cafe.naver.com  20210116215351577114
1          3  1970-1980        cafe.naver.com  20210115092528583395
2          4  1980-1990        cafe.naver.com  20210116122510587585
3          5  1980-1990         bunjang.co.kr  20210124232512591348
4          6  1990-2000        cafe.naver.com  20210114215257595385
...      ...        ...                   ...                   ...
23218  23283  1990-2000        cafe.naver.com  20210131234229950732
23219  23284  2000-2010  maplestory.nexon.com  20210131233109958894
23220  23285  2000-2010  maplestory.nexon.com  20210131233109963501
23221  23286  2000-2010          dcinside.com  20210131234441971362
23222  23287  2000-2010  maplestory.nexon.com  20210131234758976475

[23223 rows x 4 columns]

In [97]:
file_join_6 = os.path.join('/content/drive/MyDrive/Project_2/Data/피해자 모음/피해자의 연령대별 피해 사이트 데이터', 'TCH_23_2*.csv')
list_files_6 = glob(file_join_6)

In [99]:
columns_name = ['TYPE', 'DAMAGE', 'RGSTN_DT']
df_6 = pd.DataFrame(columns=columns_name)

for file in list_files_6:
  f = pd.read_csv(file, names=columns_name, index_col=0)
  df_6 = pd.concat([df_6, f], ignore_index = True)

In [100]:
df_6['RGSTN_DT'] = change_date(df_6['RGSTN_DT'])

In [102]:
df_6['IBBN'] = '나이 사이트'

In [ ]:
df_6.to_csv('/content/drive/MyDrive/Project_2/Data/피해자 모음/피해자의 연령대별 피해 사이트 데이터/TCH_23.csv', index=False, encoding='utf-8-sig')

In [84]:
df_2

       TYPE           DAMAGE   RGSTN_DT  IBBN
0        남자  2000000-3000000 2022-10-28  성별 돈
1        남자     10000-100000 2022-10-27  성별 돈
2        남자     10000-100000 2022-10-28  성별 돈
3        여자     10000-100000 2022-10-21  성별 돈
4        남자    100000-200000 2022-10-13  성별 돈
...     ...              ...        ...   ...
367631   여자     10000-100000 2021-04-30  성별 돈
367632   여자     10000-100000 2021-04-30  성별 돈
367633   여자     10000-100000 2021-04-30  성별 돈
367634   여자    200000-300000 2021-04-30  성별 돈
367635   남자    500000-600000 2021-04-30  성별 돈

[367636 rows x 4 columns]

In [85]:
df_3

       TYPE     DAMAGE   RGSTN_DT   IBBN
0        남자     티켓/상품권 2022-10-28  성별 물품
1        남자         기타 2022-10-27  성별 물품
2        남자    태블릿/노트북 2022-10-28  성별 물품
3        여자     유아동/출산 2022-10-21  성별 물품
4        남자  스포츠/레저/운동 2022-10-13  성별 물품
...     ...        ...        ...    ...
466595   남자   포인트/마일리지 2021-02-28  성별 물품
466596   남자     아이디/계정 2021-02-28  성별 물품
466597   남자     게임 아이템 2021-02-28  성별 물품
466598   남자     게임 아이템 2021-02-28  성별 물품
466599   여자     게임 아이템 2021-02-28  성별 물품

[466600 rows x 4 columns]

In [91]:
df_4

             TYPE           DAMAGE   RGSTN_DT  IBBN
0       1990-2000  1000000-2000000 2022-08-28  나이 돈
1       1990-2000  1000000-2000000 2022-08-28  나이 돈
2       1980-1990     10000-100000 2022-08-16  나이 돈
3       1980-1990   900000-1000000 2022-08-26  나이 돈
4       1980-1990    600000-700000 2022-08-22  나이 돈
...           ...              ...        ...   ...
313269  1990-2000     10000-100000 2021-02-28  나이 돈
313270  1990-2000     10000-100000 2021-02-28  나이 돈
313271  2000-2010     10000-100000 2021-02-28  나이 돈
313272  1990-2000    300000-400000 2021-02-28  나이 돈
313273  1970-1980    100000-200000 2021-02-28  나이 돈

[313274 rows x 4 columns]

In [96]:
df_5

             TYPE     DAMAGE   RGSTN_DT   IBBN
0       1970-1980     티켓/상품권 2022-12-16  나이 물품
1       1960-1970    가전/전자제품 2022-12-22  나이 물품
2       1980-1990    가전/전자제품 2022-12-05  나이 물품
3       1980-1990    가전/전자제품 2022-12-05  나이 물품
4       1980-1990     아이디/계정 2022-12-20  나이 물품
...           ...        ...        ...    ...
433464  2000-2010      패션/의류 2021-03-31  나이 물품
433465  2000-2010      패션/의류 2021-03-31  나이 물품
433466  2000-2010     티켓/상품권 2021-03-31  나이 물품
433467  2010-2020  스포츠/레저/운동 2021-03-31  나이 물품
433468  2010-2020   휴대폰/주변기기 2021-03-31  나이 물품

[433469 rows x 4 columns]

In [103]:
df_6

             TYPE          DAMAGE   RGSTN_DT    IBBN
0       1970-1980      daangn.com 2023-01-22  나이 사이트
1       1970-1980  cafe.naver.com 2023-01-26  나이 사이트
2       1990-2000       kakao.com 2023-01-30  나이 사이트
3       1990-2000       kakao.com 2023-01-30  나이 사이트
4       1990-2000  blog.naver.com 2023-01-26  나이 사이트
...           ...             ...        ...     ...
468385  1990-2000  cafe.naver.com 2021-02-28  나이 사이트
468386  1990-2000  cafe.naver.com 2021-02-28  나이 사이트
468387  2000-2010  cafe.naver.com 2021-02-28  나이 사이트
468388  1990-2000       kakao.com 2021-02-28  나이 사이트
468389  1970-1980  cafe.naver.com 2021-02-28  나이 사이트

[468390 rows x 4 columns]

In [106]:
df = pd.concat([df_2,df_3,df_4,df_5,df_6,], ignore_index=True)

In [107]:
df

              TYPE           DAMAGE   RGSTN_DT    IBBN
0               남자  2000000-3000000 2022-10-28    성별 돈
1               남자     10000-100000 2022-10-27    성별 돈
2               남자     10000-100000 2022-10-28    성별 돈
3               여자     10000-100000 2022-10-21    성별 돈
4               남자    100000-200000 2022-10-13    성별 돈
...            ...              ...        ...     ...
2049364  1990-2000   cafe.naver.com 2021-02-28  나이 사이트
2049365  1990-2000   cafe.naver.com 2021-02-28  나이 사이트
2049366  2000-2010   cafe.naver.com 2021-02-28  나이 사이트
2049367  1990-2000        kakao.com 2021-02-28  나이 사이트
2049368  1970-1980   cafe.naver.com 2021-02-28  나이 사이트

[2049369 rows x 4 columns]

In [108]:
df.to_csv('/content/drive/MyDrive/Project_2/Data/TCH_Victim.csv', index=False, encoding='utf-8-sig')